@{
    ViewData["Title"] = "Sukces";
}
<div class="text-center">
    <h2>Zalogowano pomyślnie!</h2>
    <p>Witaj w systemie Serwisu Samochodowego.</p>
    <a href="/" class="btn btn-primary">Przejdź do strony głównej</a>
</div>